<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>


<title>Antibody</title>

<style type="text/css">

.wrapper{width:500px;margin-left:auto;margin-right:auto}
label{padding-left:0 !important}

</style>

</head>
<body>

<div lang="en" th:include="fragments/header">&nbsp;</div>

<div class="container">

<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

<!--  <div class="generic-container"> -->
    <div class="well lead">Antibody</div>
    
            <div class="col-md-12">
                <p class="col-md-3"><strong>Name</strong></p>
                <p class="col-md-7" th:text="${antibody.name}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Antigen</strong></p>
                <p class="col-md-7" th:text="${antibody.antigen}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>AntigenSearch</strong></p>
                <p class="col-md-7" th:text="${antibody.antigenSearch}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Isotype</strong></p>
                <p class="col-md-7" th:text="${antibody.isotype}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Species</strong></p>
                <p class="col-md-7" th:text="${antibody.species}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Application</strong></p>
                <p class="col-md-7" th:text="${antibody.application}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Supplier</strong></p>
                <p class="col-md-7" th:text="${antibody.supplier}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Product Code</strong></p>
                <p class="col-md-7" th:text="${antibody.productCode}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><strong>Website</strong></p>
                <p class="col-md-7" th:text="${antibody.website}" />
            </div>
            <div class="col-md-12" th:each="reference,iter : ${antibody.antibodyReferences}">
                <p class="col-md-3" th:if="${iter.index} == 0"><strong>References</strong></p>
                <p class="col-md-3" th:unless="${iter.index} == 0"><strong></strong></p>
                <p class="col-md-7" th:text="${reference.reference}" />
            </div>
            <div class="col-md-12">
                <p class="col-md-3"><a th:href="@{/antibodyslist}">BACK</a></p>
                <p class="col-md-7"></p>
            </div>

    </div>

</body>

</html>