<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>


<title>Order Form</title>

<style type="text/css">

.wrapper{width:500px;margin-left:auto;margin-right:auto}
label{padding-left:0 !important}

</style>

</head>
<body>

<div lang="en" th:include="fragments/header">&nbsp;</div>

<div class="container">

<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

<!--  <div class="generic-container"> -->
    <div th:if="${editBool}">
    	<div th:if ="${birdBool}">
    		<div class="well lead">Edit Bird Order</div>
    	</div>
    	<div th:if ="${eggBool}">
    		<div class="well lead">Edit Egg Order</div>
    	</div>
    	<div th:if ="${embryoBool}">
    		<div class="well lead">Edit Embryo Order</div>
    	</div>
    </div>
    
    <div th:unless="${editBool}">
    	<div th:if ="${birdBool}">
    		<div class="well lead">Add New Bird Order</div>
    	</div>
    	<div th:if ="${eggBool}">
    		<div class="well lead">Add New Egg Order</div>
    	</div>
    	<div th:if ="${embryoBool}">
    		<div class="well lead">Add New Embryo Order</div>
    	</div>
    </div>
    
    <form method="POST" th:object="${dtoorder}" class="form-horizontal">
    
        <input th:if="${editBool}" type="hidden" name="oid" th:value="${oid}" />
        
        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="requiredDate">Date Required</label>
                <div class="col-md-7">
                    <input class="form-control" type="date" name="requiredDate" th:value="*{#dates.format(requiredDate,'yyyy-MM-dd')}" />
                    <div class="has-error">
                        <errors path="requiredDate" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div th:if ="${superBool or adminBool or editorBool}">
          <div th:if="${editBool}">
        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="suppliedDate">Date Supplied</label>
                	<div class="col-md-7">
                    	<input class="form-control" type="date" name="suppliedDate" th:value="*{suppliedDate} ? *{#dates.format(suppliedDate,'yyyy-MM-dd')}" />
                    	<div class="has-error">
                        	<errors path="suppliedDate" class="help-inline"/>
                    	</div>
                	</div>
	            </div>
    	    </div>
          </div>

          <div th:unless="${editBool}">
	        <input type="hidden" name="suppliedDate" th:value="${suppliedDate}" />
          </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="study">Study</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="study" th:value="*{study}" />
                    <div class="has-error">
                        <errors path="study" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="code">Cost Centre</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="code" th:value="*{code}" />
                    <div class="has-error">
                        <errors path="code" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="customerComment">Customer Comment</label>
                <div class="col-md-7">
					<textarea class="form-control" rows="12" th:field="*{customerComment}"></textarea>
                    <div class="has-error">
                        <errors path="customerComment" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div th:if ="${superBool or adminBool or editorBool}">
        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="supplierComment">Supplier Comment</label>
	                <div class="col-md-7">
    					<textarea class="form-control" rows="12" th:field="*{supplierComment}"></textarea>
        	            <div class="has-error">
            	            <errors path="supplierComment" class="help-inline"/>
                	    </div>
	                </div>
    	        </div>
        	</div>
        </div>

        <div th:if="${customerBool}">
	    	<input type="hidden" name="supplierComment" th:value="${supplierComment}" />
        </div>


        <div th:if ="${birdBool}">
        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="birdOrganism">Line</label>
	                <div class="col-md-7">
    	                <select th:field="*{birdOrganism}" >
        	                <option th:each="birdorganism : ${birdorganisms}" th:value="${birdorganism.oid}" th:text="${birdorganism.name}" >Line</option>
            	        </select>
                	    <div class="has-error">
                    	    <errors path="birdOrganism" class="help-inline"/>
	                    </div>
    	            </div>
        	    </div>
	        </div>

    	    <div>
        	    <div class="form-group col-md-12">
            	    <label class="col-md-3 control-lable" for="birdAge">Age</label>
                	<div class="col-md-7">
	                    <input class="form-control" type="number" name="birdAge" th:value="*{birdAge}" />
    	                <div class="has-error">
        	                <errors path="birdAge" class="help-inline"/>
            	        </div>
                	</div>
            	</div>
        	</div>

        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="birdOrderLineDateFormat">Days, Months or Years?</label>
	                <div class="col-md-7">
    	                <select th:field="*{birdOrderLineDateFormat}" >
            	            <option th:each="dateformat : ${dateformats}" th:value="${dateformat.oid}" th:text="${dateformat.name}" >Days, Months or Years?</option>
        	            </select>
                	    <div class="has-error">
                    	    <errors path="birdOrderLineDateFormat" class="help-inline"/>
                    	</div>
	                </div>
    	        </div>
        	</div>

	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="birdOrderLineSex">Sex</label>
            	    <div class="col-md-7">
                	    <select th:field="*{birdOrderLineSex}" >
                    	    <option th:each="sex : ${sexs}" th:value="${sex.oid}" th:text="${sex.name}" >Sex?</option>
	                    </select>
    	                <div class="has-error">
        	                <errors path="birdOrderLineSex" class="help-inline"/>
            	        </div>
                	</div>
            	</div>
        	</div>

        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="birdRequired">Number Required</label>
                	<div class="col-md-7">
                    	<input class="form-control" type="number" name="birdRequired" th:value="*{birdRequired}" />
	                    <div class="has-error">
    	                    <errors path="birdRequired" class="help-inline"/>
        	            </div>
            	    </div>
	            </div>
    	    </div>
        </div>

        <div th:if ="${eggBool}">
	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="name">Line</label>
            	    <div class="col-md-7">
                	    <select th:field="*{eggOrganism}" >
                    	    <option th:each="eggorganism : ${eggorganisms}" th:value="${eggorganism.oid}" th:text="${eggorganism.name}" >Line</option>
	                    </select>
    	                <div class="has-error">
        	                <errors path="eggOrganism" class="help-inline"/>
            	        </div>
	                </div>
    	        </div>
        	</div>
	
    	    <div>
        	    <div class="form-group col-md-12">
            	    <label class="col-md-3 control-lable" for="eggOrderLineFertilised">Fertilised?</label>
                	<div class="col-md-7">
	                    <select th:field="*{eggOrderLineFertilised}" >
    	                    <option th:each="fertilised : ${fertiliseds}" th:value="${fertilised.oid}" th:text="${fertilised.name}" >Fertilised?</option>
        	            </select>
            	        <div class="has-error">
                	        <errors path="eggOrderLineFertilised" class="help-inline"/>
                    	</div>
	                </div>
    	        </div>
        	</div>

	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="eggRequired">Number Required</label>
            	    <div class="col-md-7">
                	    <input class="form-control" type="number" name="eggRequired" th:value="*{eggRequired}" />
                    	<div class="has-error">
	                        <errors path="eggRequired" class="help-inline"/>
    	                </div>
        	        </div>
            	</div>
        	</div>
        </div>

        <div th:if ="${embryoBool}">
            <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="embryoOrganism">Line</label>
            	    <div class="col-md-7">
                	    <select th:field="*{embryoOrganism}" >
                    	    <option th:each="embryoorganism : ${embryoorganisms}" th:value="${embryoorganism.oid}" th:text="${embryoorganism.name}" >Line</option>
	                    </select>
    	                <div class="has-error">
        	                <errors path="embryoOrganism" class="help-inline"/>
            	        </div>
                	</div>
	            </div>
    	    </div>

        	<div>
            	<div class="form-group col-md-12">
	                <label class="col-md-3 control-lable" for="embryoOrderLineIncubation">Days Incubated?</label>
    	            <div class="col-md-7">
            	        <select th:field="*{embryoOrderLineIncubation}" >
        	                <option th:each="incubated : ${incubateds}" th:value="${incubated.oid}" th:text="${incubated.name}" >Days Incubated</option>
                	    </select>
	                    <div class="has-error">
    	                    <errors path="embryoOrderLineIncubation" class="help-inline"/>
        	            </div>
            	    </div>
	            </div>
    	    </div>
        
        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="embryoRequired">Number Required</label>
	                <div class="col-md-7">
    	                <input class="form-control" type="number" name="embryoRequired" th:value="*{embryoRequired}" />
        	            <div class="has-error">
            	            <errors path="embryoRequired" class="help-inline"/>
                	    </div>
	                </div>
    	        </div>
        	</div>
        </div>

        <div th:if ="${superBool or adminBool}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="customer">Customer</label>
                <div class="col-md-7">
                    <select th:field="*{customer}" >
                        <option th:each="cust : ${customers}" th:value="${cust.id}" th:text="${cust.email}" >Editor</option>
                    </select>
                    <div class="has-error">
                        <errors path="customer" class="help-inline"/>
                    </div>
                </div>
            </div>
	        <input type="hidden" name="OrderCollection" th:value="*{OrderCollection.oid}" />
        </div>
        <div th:if ="${editorBool or customerBool}">
	        <input type="hidden" name="customer" th:value="*{customer}" />
        </div>

        <div th:if ="${superBool or adminBool or editorBool}">
          <div th:if="${editBool}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="editor">Assigned To</label>
                <div class="col-md-7">
                    <select th:field="*{editor}" >
                        <option th:each="ed : ${editors}" th:value="${ed.id}" th:text="${ed.email}" >Editor</option>
                    </select>
                    <div class="has-error">
                        <errors path="editor" class="help-inline"/>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="supplier">Supplied By</label>
                <div class="col-md-7">
                    <select th:field="*{supplier}" >
                        <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.email}" >Supplier</option>
                    </select>
                    <div class="has-error">
                        <errors path="supplier" class="help-inline"/>
                    </div>
                </div>
            </div>
          </div>

          <div th:unless="${editBool}">
	        <input type="hidden" name="editor" th:value="${editor}" />
	        <input type="hidden" name="supplier" th:value="${supplier}" />
          </div>
        </div>

        <div th:if ="${superBool or adminBool or editorBool}">
          <div th:if="${editBool}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="orderCollection">Collection</label>
                <div class="col-md-7">
                    <select th:field="*{orderCollection}" >
                        <option th:each="collection : ${collections}" th:value="${collection.oid}" th:text="${collection.name}" >Collection</option>
                    </select>
                    <div class="has-error">
                        <errors path="orderCollection" class="help-inline"/>
                    </div>
                </div>
            </div>
          </div>

          <div th:unless="${editBool}">
	        <input type="hidden" name="orderCollection" th:value="${orderCollection}" />
          </div>

          <div th:if="${editBool}">
	        <input type="hidden" name="orderType" th:value="*{orderType.oid}" />
          </div>

          <div th:unless="${editBool}">
	        <input type="hidden" name="orderType" th:value="*{orderType.oid}" />
          </div>
        </div>

        <div th:if ="${superBool or adminBool or editorBool}">
          <div th:if="${editBool}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="orderStatus">Status</label>
                <div class="col-md-7">
                    <select th:field="*{orderStatus}" >
                        <option th:each="status : ${statuss}" th:value="${status.oid}" th:text="${status.name}" >Status</option>
                    </select>
                    <div class="has-error">
                        <errors path="orderStatus" class="help-inline"/>
                    </div>
                </div>
            </div>
          </div>

          <div th:unless="${editBool}">
	        <input type="hidden" name="orderStatus" th:value="*{orderStatus.oid}" />
          </div>
        </div>

        <div th:if ="${customerBool}">
	        <input type="hidden" name="supplier" th:value="*{supplier}" />
    	    <input type="hidden" name="editor" th:value="*{editor}" />
	        <input type="hidden" name="orderStatus" th:value="*{orderStatus.oid}" />
	        <input type="hidden" name="orderCollection" th:value="*{orderCollection.oid}" />
	        <input type="hidden" name="orderType" th:value="*{orderType.oid}" />
        </div>

        <div th:if ="${customerBool}">
    	    <div th:if="${editBool}">
            	<div class="form-actions floatRight">
					<input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/my-orders-list}">BACK</a>
        	    </div>
	        </div>
    	    <div th:unless="${editBool}">
            	<div class="form-actions floatRight">
					<input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/my-orders-list}">BACK</a>
        	    </div>
	        </div>
        </div>

        <div th:if ="${superBool or adminBool or editorBool}">
    	    <div th:if="${editBool}">
	        	<div th:if="${mineBool}">
            		<div class="form-actions floatRight">
						<input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/my-orders-list}">BACK</a>
        	    	</div>
    	      	</div>
	        	<div th:unless="${mineBool}">
            		<div class="form-actions floatRight">
						<input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/orders-list}">BACK</a>
        	    	</div>
    	    	</div>
	        </div>
    	    <div th:unless="${editBool}">
	        	<div th:if="${mineBool}">
            		<div class="form-actions floatRight">
						<input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/my-orders-list}">BACK</a>
        	    	</div>
    	      	</div>
	        	<div th:unless="${mineBool}">
            		<div class="form-actions floatRight">
						<input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/orders-list}">BACK</a>
        	    	</div>
    	    	</div>
	        </div>
        </div>
        
    </form>

    </div>

</body>

</html>