<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>


<title>User Form</title>

<style type="text/css">

.wrapper{width:500px;margin-left:auto;margin-right:auto}
label{padding-left:0 !important}

</style>

</head>
<body>

<div lang="en" th:include="fragments/header">&nbsp;</div>

<div class="container">

<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

<!--  <div class="generic-container"> -->
    <div class="well lead">User Form</div>
    
    <form method="POST" th:object="${user}" class="form-horizontal">
    
        <input class="form-control" type="hidden" name="id" th:value="*{id}" />
        <input class="form-control" type="hidden" name="password" th:value="*{password}" />
        <input class="form-control" type="hidden" name="secret" th:value="*{secret}" />
        
        <div th:if="${user.firstName} == 'Super'">
	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="email">Email</label>
            	    <div class="col-md-7">
                	    <input class="form-control" type="text" name="email" th:value="*{email}" />
                    	<div class="has-error">
	                        <errors path="email" class="help-inuser"/>
    	                </div>
        	        </div>
            	</div>
        	</div>
        	<input class="form-control" type="hidden" name="firstName" th:value="*{firstName}" />
        	<input class="form-control" type="hidden" name="lastName" th:value="*{lastName}" />
        	<input class="form-control" type="hidden" name="organisation" th:value="*{organisation}" />
        	<input class="form-control" type="hidden" name="enabled" th:value="*{enabled}" />
        	<input class="form-control" type="hidden" name="using2FA" th:value="*{using2FA}" />
        	<input class="form-control" type="hidden" name="roles" th:value="7" />
        </div>

        <div th:unless="${user.firstName} == 'Super'">
	        <input class="form-control" type="hidden" name="email" th:value="*{email}" />

	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="firstName">First Name</label>
            	    <div class="col-md-7">
                	    <input class="form-control" type="text" name="firstName" th:value="*{firstName}" />
                    	<div class="has-error">
	                        <errors path="firstName" class="help-inuser"/>
    	                </div>
        	        </div>
            	</div>
        	</div>

	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="lastName">Last Name</label>
            	    <div class="col-md-7">
                	    <input class="form-control" type="text" name="lastName" th:value="*{lastName}" />
                    	<div class="has-error">
	                        <errors path="lastName" class="help-inuser"/>
    	                </div>
        	        </div>
            	</div>
        	</div>

	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="organisation">Organisation</label>
            	    <div class="col-md-7">
                	    <input class="form-control" type="text" name="organisation" th:value="*{organisation}" />
                    	<div class="has-error">
	                        <errors path="organisation" class="help-inuser"/>
    	                </div>
        	        </div>
            	</div>
        	</div>

	        <div>
        	    <div class="form-group col-md-12">
    	            <label class="col-md-3 control-lable" for="enabled">Enabled?</label>
					<input type="checkbox" th:field="*{enabled}" />
                	<div class="has-error">
            	        <errors path="enabled" class="help-inuser"/>
        	        </div>
    	        </div>
	        </div>

	        <div>
    	        <div class="form-group col-md-12">
        	        <label class="col-md-3 control-lable" for="using2FA">Using 2FA?</label>
					<input type="checkbox" th:field="*{using2FA}" />
                	<div class="has-error">
	                    <errors path="using2FA" class="help-inuser"/>
    	            </div>
        	    </div>
        	</div>

        	<div>
            	<div class="form-group col-md-12">
                	<label class="col-md-3 control-lable" for="roles">Roles</label>
	                <div class="col-md-7">
    	                <select th:field="*{roles}" >
        	                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" >Role</option>
            	        </select>
                	    <div class="has-error">
                    	    <errors path="roles" class="help-inuser"/>
	                    </div>
    	            </div>
        	    </div>
        	</div>
        </div>


        <div th:if="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/userslist}">CANCEL</a>
            </div>
        </div>
        
        <div th:unless="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/userslist}">CANCEL</a>
            </div>
        </div>

    </form>

    </div>

</body>

</html>