<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

</head>

<body>

<nav class="navbar navbar-default">
  
	<div class="container-fluid">
  
  		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/login}"><img th:src="@{/resources/images/narf-logo-wide.png}" alt="NARF" style="width:150px;height:68px"></img></a>
		</div>
  
  		<ul class="nav navbar-nav">
		</ul>
  
      	<ul class="nav navbar-nav navbar-right">
			<li><a th:href="@{/registration.html}"><span class="glyphicon glyphicon-user"></span>&nbsp;<span th:text="#{label.pages.signup}" th:remove="tag">Example page header</span></a></li>
			<li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;<span th:text="#{label.pages.login}" th:remove="tag">Example page header</span></a></li>
	    </ul>
      	
    </div>
    
</nav>

</body>

</html>