<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

<title th:text="#{label.pages.antibody.form}">NARF Antibody Form</title>

<style type="text/css">

.wrapper{width:500px;margin-left:auto;margin-right:auto}
label{padding-left:0 !important}
.container {    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;}

</style>

</head>

<body>

<div lang="en" th:include="fragments/header">&nbsp;</div>

<div class="container">

<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

<!-- <div class="generic-container"> -->

	<div class="well lead">Antibody Form</div>

    <form method="POST" th:object="${antibody}" class="form-horizontal">
    
        <input type="hidden" path="oid" id="oid"/>
        <input th:if="${edit}" class="form-control" type="hidden" name="name" th:value="*{name}" />
        
        <div th:if="${edit}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="name">Name</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="name" th:value="*{name}" disabled="true" />
                </div>
            </div>
        </div>
        
        <div th:unless="${edit}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="name">Name</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="name" th:value="*{name}" />
                    <div class="has-error">
                        <errors path="name" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="antigen">Antigen</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="antigen" th:value="*{antigen}" />
                    <div class="has-error">
                        <errors path="antigen" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="antigenSearch">AntigenSearch</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="antigenSearch" th:value="*{antigenSearch}" />
                    <div class="has-error">
                        <errors path="antigenSearch" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="isotype">Isotype</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="isotype" th:value="*{isotype}" />
                    <div class="has-error">
                        <errors path="isotype" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="species">Species</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="species" th:value="*{species}" />
                    <div class="has-error">
                        <errors path="species" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="application">Application</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="application" th:value="*{application}" />
                    <div class="has-error">
                        <errors path="application" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="supplier">Supplier</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="supplier" th:value="*{supplier}" />
                    <div class="has-error">
                        <errors path="supplier" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="productCode">Product Code</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="productCode" th:value="*{productCode}" />
                    <div class="has-error">
                        <errors path="productCode" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="website">Website</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="website" th:value="*{website}" />
                    <div class="has-error">
                        <errors path="website" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable">References</label>
                <div class="col-md-7">
                    <select th:field="*{antibodyReferences}" multiple="multiple" >
                        <option th:each="reference : ${antibodyReferences}" th:value="${reference.oid}" th:text="${reference.reference}" >Reference</option>
                    </select>
                    <div class="has-error">
                        <errors path="antibodyReferences" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/antibodyslist}">CANCEL</a>
            </div>
        </div>
        
        <div th:unless="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/antibodyslist}">CANCEL</a>
            </div>
        </div>

    </form>

</div>

</body>

</html>