<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

<title th:text="#{label.pages.strain.use.form.title}">NARF Strain Use Form</title>

<style type="text/css">

.wrapper{width:500px;margin-left:auto;margin-right:auto}
label{padding-left:0 !important}

</style>

</head>

<body>

<div lang="en" th:include="fragments/header">&nbsp;</div>

<div class="container">

<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

<!--  <div class="generic-container"> -->
    <div class="well lead"> Strain Use Form</div>
    
    <form method="POST" th:object="${strainuse}" class="form-horizontal">
    
        <input type="hidden" path="oid" id="oid"/>
        
        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="use">Use</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="use" th:value="*{use}" />
                </div>
            </div>
        </div>
        
        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="protocol">Protocol</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="protocol" th:value="*{protocol}" />
                    <div class="has-error">
                        <errors path="url" class="help-instrain"/>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/strainuseslist}">CANCEL</a>
            </div>
        </div>
        
        <div th:unless="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/strainuseslist}">CANCEL</a>
            </div>
        </div>

    </form>

    </div>

</body>

</html>