<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

<title th:text="#{label.pages.home.home.title}">NARF Home</title>

</head>

<body>

<div lang="en" th:include="fragments/headerhome">&nbsp;</div>

	<div class="container">

		<h2 th:text="#{label.pages.home.title}">text</h2>	
		<br />
		<br />

		<div sec:authorize="hasAuthority('SUPER_PRIVILEGE')">
			<a class="btn btn-default" th:href="@{/loggedUsers}" th:text="#{label.pages.users.message}">View logged in users</a>
			<br />		
			<a class="btn btn-default" th:href="@{/loggedUsersFromSessionRegistry}" th:text="#{label.pages.users.sessionregistry.message}">View logged in users</a>
			<br />		
			<br />		
			<a th:href="@{/users-list}" th:text="#{label.pages.users.userslist.message}">View List of Users</a>
			<br />		
			<br />		
			<a th:href="@{/antibodys-list}" th:text="#{label.pages.users.antibodyslist.message}">View List of Antibodies</a>
			<br />		
			<a th:href="@{/antibody-references-list}" th:text="#{label.pages.users.antibodyreferenceslist.message}">View List of Antibody References</a>
			<br />		
			<br />		
			<a th:href="@{/lines-list}" th:text="#{label.pages.users.lineslist.message}">View List of  Lines</a>
			<br />		
			<a th:href="@{/line-references-list}" th:text="#{label.pages.users.linereferenceslist.message}">View List of  Line References</a>
			<br />		
			<br />		
			<a th:href="@{/strains-list}" th:text="#{label.pages.users.strainslist.message}">View List of  Strains</a>
			<br />		
			<a th:href="@{/strain-references-list}" th:text="#{label.pages.users.strainreferenceslist.message}">View List of  Strain References</a>
			<br />		
			<a th:href="@{/strain-uses-list}" th:text="#{label.pages.users.strainuseslist.message}">View List of  Strain Uses</a>
		</div>
	  
		<div sec:authorize="hasAuthority('ADMIN_PRIVILEGE')">
		</div>
	  
		<div sec:authorize="hasAuthority('EDITOR_PRIVILEGE')">
		</div>

		<div sec:authorize="hasAuthority('PUBLIC_PRIVILEGE')">
		</div>

		<div sec:authorize="hasAuthority('CUSTOMER_PRIVILEGE')">
		</div>

		<br />
		<br />
	  
	</div>

<div lang="en" th:include="fragments/footer">&nbsp;</div>


</body>

</html>

