<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

<title th:text="#{label.pages.line.form.title}">NARF Line Form</title>

<style type="text/css">

.wrapper{width:500px;margin-left:auto;margin-right:auto}
label{padding-left:0 !important}

</style>

</head>

<body>

<div lang="en" th:include="fragments/header">&nbsp;</div>

<div class="container">

<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

<!--  <div class="generic-container"> -->
    <div class="well lead"> Line Form</div>
    
    <form method="POST" th:object="${line}" class="form-horizontal">
    
        <input th:if="${edit}" type="hidden" path="oid" id="oid"/>
        <input th:if="${edit}" class="form-control" type="hidden" name="line" th:value="*{line}" />
        
        <div th:if="${edit}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="line">Line</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="line" th:value="*{line}" disabled="true" />
                </div>
            </div>
        </div>
        
        <div th:unless="${edit}">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="line">Line</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="line" th:value="*{line}" />
                    <div class="has-error">
                        <errors path="line" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="breed">Breed</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="breed" th:value="*{breed}" />
                    <div class="has-error">
                        <errors path="breed" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="histocompatible">Histocompatible</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="histocompatible" th:value="*{histocompatible}" />
                    <div class="has-error">
                        <errors path="histocompatible" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="imported">Imported</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="imported" th:value="*{imported}" />
                    <div class="has-error">
                        <errors path="imported" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="LineMhc">Mhc</label>
                <div class="col-md-7">
                    <select th:field="*{LineMhc}">
                        <option th:each="mhc : ${LineMhcs}" th:value="${mhc.oid}" th:text="${mhc.name}" >mhcs</option>
                    </select>
                    <div class="has-error">
                        <errors path="LineMhc" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="origin">Origin</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="origin" th:value="*{origin}" />
                    <div class="has-error">
                        <errors path="origin" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="LineResistant">Resistant</label>
                <div class="col-md-7">
                    <select th:field="*{LineResistant}">
                        <option th:each="resistant : ${LineResistants}" th:value="${resistant.oid}" th:text="${resistant.name}" >resistant</option>
                    </select>
                    <div class="has-error">
                        <errors path="LineResistant" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="LineSusceptible">Susceptible</label>
                <div class="col-md-7">
                    <select th:field="*{LineSusceptible}">
                        <option th:each="susceptible : ${LineSusceptibles}" th:value="${susceptible.oid}" th:text="${susceptible.name}" >susceptible</option>
                    </select>
                    <div class="has-error">
                        <errors path="LineSusceptible" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="type">Type</label>
                <div class="col-md-7">
                    <input class="form-control" type="text" name="type" th:value="*{type}" />
                    <div class="has-error">
                        <errors path="type" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="LineReferences">References</label>
                <div class="col-md-7">
                    <select th:field="*{LineReferences}" multiple="multiple" >
                        <option th:each="reference : ${LineReferences}" th:value="${reference.oid}" th:text="${reference.reference}" >Reference</option>
                    </select>
                    <div class="has-error">
                        <errors path="LineReferences" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="EDIT" class="btn btn-primary btn-sm"/> or <a th:href="@{/lineslist}">CANCEL</a>
            </div>
        </div>
        
        <div th:unless="${edit}">
            <div class="form-actions floatRight">
                <input type="submit" value="ADD" class="btn btn-primary btn-sm"/> or <a th:href="@{/lineslist}">CANCEL</a>
            </div>
        </div>

    </form>

    </div>

</body>

</html>