<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>QR code</title>

<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<title th:text="#{label.pages.qr.code.title}">NARF QR Code</title>

</head>

<body>

<div lang="en" th:include="fragments/headercutdown">&nbsp;</div>

	<h2 th:text="#{label.pages.home.title}" />
	<br />	

	<div id="qr">
	
		<p>Scan this Barcode using Google Authenticator app on your phone to use it later in login
		<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and
		<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
		</p>
		<br/>
		
		<img th:src="${param.qr[0]}"/>
		
	</div>
		
	<a href="/login" class="btn btn-primary">Go to login page</a>

<div lang="en" th:include="fragments/footer">&nbsp;</div>

</body>
</html>